extends ../layouts/page

block variables
    - const title = 'Политика конфиденциальности | Политика конфиденциальности квиза для нейропсихолога'
    - const description = 'Политика конфиденциальности квиза нейропсихолога рассказывает о том, что во время прохождения квиза Вы соглашаетесь на обработку персональных данных.'
    - const keywords = 'политика конфиденциальности, соглашение, персональные данные'

block header

block content
    include ../../blocks/modules/privacy-policy/privacy-policy

block footer

block scripts